[Desktop Entry]
Version=2.0.0
Type=Application
Name=Linamp2
GenericName=Music Player
GenericName[tr]=Müzik Çalar
Comment=Lightweight and nicely designed music player application
Comment[tr]=Hafif ve hoş tasarımlı müzikçalar uygulaması
Exec=python3 /usr/share/linamp2/main.py
Icon=linamp2
Terminal=false
StartupNotify=true
Categories=AudioVideo;Audio;Player;Qt;
MimeType=audio/mpeg;audio/x-wav;audio/flac;audio/ogg;audio/mp4;audio/x-matroska;audio/x-ms-wma;audio/aac;audio/x-m4a;
